@use "../../../../../variables" as *;

.project-card {
  // background-color: #141414; // Cor de fundo do card
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  border: 1px solid #262626;

  &__image-container {
    width: 100%;
    height: 200px;
    background-color: #2a2a2a;
    overflow: hidden;
    cursor: pointer;

    &:hover,
    &:focus {
      img {
        transform: scale(1.05);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition-default;
    }
  }

  &__content {
    background-color: #141414;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }

  &__description {
    font-size: 0.95rem;
    color: $text-secondary;
    line-height: 1.5;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;

    .tag {
      background-color: #1e1e1e;
      border: 1px solid #333;
      padding: 4px 10px;
      border-radius: 4px;
      font-size: 0.75rem;
      font-weight: 600;
      color: $text-secondary;
      letter-spacing: 0.5px;
      transition: $transition-default;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }

  &__actions {
    margin-top: 16px;
    display: flex;
    gap: 20px;

    .link {
      color: #fff;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 6px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
