<section>
  <div class="projects">
    <div class="projects__wrapper container">
      <div class="projects__header">
        <h1>Projetos</h1>
        <svg
          (click)="goBack()"
          _ngcontent-ng-c2653872471=""
          tabindex="0"
          aria-label="Voltar para home"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            _ngcontent-ng-c2653872471=""
            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
          ></path>
        </svg>
      </div>
      <div class="projects__grid">
        <div *ngFor="let project of projects">
          <project-card [project]="project"></project-card>
        </div>
      </div>
    </div>
  </div>
</section>
