@use "../../../../../variables" as *;

.contact {
  padding: 80px 2rem;
  color: $white;

  &__wrapper {
    max-width: 1040px;
    margin: 0 auto;
    background-color: #2d2e30;
    border: 1px solid rgba($white, 0.05);
    border-radius: 1rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  }

  &__title {
    font-size: clamp(
      2rem,
      8vw,
      3.5rem
    ); // Responsivo: ajusta entre 2rem e 3.5rem
    font-weight: 400;
    font-family: $font-bebas;
    letter-spacing: 1px;
    margin: 0;
  }

  &__text {
    color: $text-secondary;
    font-size: var(--font-sm);
    max-width: 600px;
    line-height: 1.6;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
  }

  &__email {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $text-secondary;
    font-size: var(--font-sm);
    transition: $transition-default;
    text-decoration: none;

    &:hover {
      color: $white;
    }

    img {
      filter: invert(1);
    }
  }
}

/* BOTÃO PRINCIPAL (CTA) */
.cta-button {
  background-color: $color-primary;
  color: $white;
  border: none;
  padding: 0.8rem 1.8rem;
  font-size: var(--font-sm);
  font-weight: 600;
  border-radius: 8px;
  transition: $transition-default;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: translateY(-2px); // Efeito de elevação
  }

  &:active {
    transform: translateY(0);
  }
}
