<section class="contact container" #ctoElement [class.revealUp]="isVisible">
  <div class="contact__wrapper">
    <h1 class="contact__title">Vamos Conversar!</h1>

    <p class="contact__text">
      Desenvolvedor Full Stack focado em construir soluções eficientes. Aberto a
      novas oportunidades e desafios profissionais.
    </p>

    <div class="contact__actions">
      <a
        href="/contact"
        class="cta-button"
        aria-label="Ir para página de contato"
      >
        Entre em contato
      </a>

      <a [href]="'mailto:' + email" class="contact__email">
        <span>E-mail</span>
      </a>
    </div>
  </div>
</section>
