// skill.component.scss
.skill {
  width: 70px;
  height: 70px;
  flex: 0 0 70px; // Importante: tamanho fixo
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 5px;
  border-radius: 0.5rem;
  transition: 0.7s ease;
  
  img {
    height: 70%;
    width: auto;
  }
  
  p {
    font-size: 14px;
  }
  
  &:hover, 
  &:focus {
    transform: translateY(-5px);
  }
}