:host {
  height: fit-content;
  .projects {
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1 {
      font-size: 3rem;
      font-weight: 400;
      font-family: "Bebas Neue", sans-serif;
    }
    &__options {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
      font-size: var(--font-xs);
      overflow-x: auto;
      overflow-y: hidden;
      padding: 1rem 0rem;
      padding-left: 0.5rem;

      label {
        padding: 0.5rem;
        border-radius: 13px;
        cursor: pointer;
        transition: background-color 0.2s ease-in, color 0.3s ease-in-out,
          transform 0.2s ease-in;
        &.selected {
          background-color: black;
          color: white;
          transform: scale(1.1);
        }
      }
    }

    &__input {
      display: none;
    }

    &__section {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      padding-top: 1rem;
      margin-bottom: 1rem;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &__more {
      background-color: transparent;
      padding: 0.5rem 1rem;
      border: 1px solid black;
      border-radius: 50px;
      font-size: var(--font-xs);
      margin: 0 auto;
      transition: 0.5s ease-in-out;
      &:hover,
      &:focus {
        background-color: black;
        color: white;
      }
    }
  }
}
