<section class="about " [@ShowState]="isVisible ? 'shown' : 'notShown'">
  <div class="background"></div>
  <div class="about__overlay" [ngClass]="{ open: isOpen }">
    <svg
      class="about__overlay--open"
      (click)="openOverlay()"
      [ngClass]="{ close: isOpen }"
      tabindex="0"
      aria-label="Abrir aba de sobre mim"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path
        d="m6.293 13.293 1.414 1.414L12 10.414l4.293 4.293 1.414-1.414L12 7.586z"
      ></path>
    </svg>

    <div class="about__info container" [ngClass]="{ open: isOpen }">
      <svg
        class="about__info--close"
        (click)="closeOverlay()"
        aria-label="Fechar aba de sobre mim"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"
        ></path>
      </svg>

      <h1 tabindex="0" aria-labelledby="sobre-titulo">Sobre</h1>

      <div
        class="about__info--options"
        role="group"
        aria-labelledby="sobre-opcoes"
      >
        <label
          for="mim"
          [ngClass]="{ selected: optionChoosed === 'mim' }"
          aria-label="Mostrar sobre mim"
          >Mim</label
        >

        <label
          for="profissional"
          [ngClass]="{ selected: optionChoosed === 'profissional' }"
          aria-label="Mostrar sobre minha vida profissional"
          >Profissional</label
        >

        <label
          for="formacao"
          [ngClass]="{ selected: optionChoosed === 'formacao' }"
          aria-label="Mostrar sobre minha formação"
          >Formação</label
        >
      </div>

      <div class="about__info--input">
        <input
          type="radio"
          name="option"
          id="mim"
          value="mim"
          [(ngModel)]="optionChoosed"
          tabindex="0"
          aria-describedby="mim-opcao"
        />
        <input
          type="radio"
          name="option"
          id="profissional"
          value="profissional"
          [(ngModel)]="optionChoosed"
          tabindex="0"
          aria-describedby="profissional-opcao"
        />
        <input
          type="radio"
          name="option"
          id="formacao"
          value="formacao"
          [(ngModel)]="optionChoosed"
          tabindex="0"
          aria-describedby="formacao-opcao"
        />
      </div>

      <div class="about__info--content" [ngSwitch]="optionChoosed">
        <div
          class="content--mim revealUp"
          *ngSwitchCase="'mim'"
          [innerHTML]="getContentSection(0)?.content"
          id="mim-opcao"
        ></div>
        <div
          class="content--professional revealUp"
          *ngSwitchCase="'profissional'"
          [innerHTML]="getContentSection(1)?.content"
          id="profissional-opcao"
        ></div>
        <div
          class="content--formacao revealUp"
          *ngSwitchCase="'formacao'"
          [innerHTML]="getContentSection(2)?.content"
          id="formacao-opcao"
        ></div>
      </div>

      <a
        class="about__cv"
        tabindex="0"
        href="../../../assets/Cv/Ícaro Machado de Carvalho CV - 2025.pdf"
        aria-label="Baixar currículo"
        download
      >
        CV
      </a>
    </div>
  </div>
</section>
