.header {
  position: fixed;
  top: 0.5rem;
  left: 0;
  padding: 0rem 0.5rem;
  width: 100%;
  background-color: transparent;
  z-index: 20;

  @media (min-width: 576px) {
    padding: 0rem 1rem;
  }

  @media (min-width: 767px) {
    padding: 0rem 2rem;
  }

  @media (min-width: 1024px) {
    padding: 0rem 3rem;
  }

  @media(min-width: 1200px){
    // padding: 0rem
    display: flex;
    justify-content: center;
  }

  &__container {

    background-color: transparent;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: auto;
    border: none;
    transition: 0.5s linear;

    @media(min-width: 1350px){
      position: relative;
      left: 6px;
    }

    &.scrolled {
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 7px;
      backdrop-filter: blur(4px);
    }

    &.open {
      border: 1px solid black;
      border-radius: 7px;
      backdrop-filter: blur(5px);
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
    @media (min-width: 767px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;

    img {
      width: auto;
      height: 42px;
      border-radius: 5px;
    }
    svg {
      fill: black;
      @media (min-width: 767px) {
        display: none;
      }
    }

    @media (min-width: 767px) {
      width: fit-content;
    }
  }

  .navBar {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden; /* Impede que o conteúdo saia da área visível */
    opacity: 0; /* Inicialmente invisível */
    max-height: 0; /* Inicialmente com altura zero */
    z-index: 20;
    transition: max-height 0.7s ease-out, opacity 0.7s ease-out;

    &__x {
      position: absolute;
      top: 1.2rem;
      right: 0.5rem;
      fill: white;
    }

    &__links {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;

      a {
        position: relative;
        color: black;
        font-size: var(--font-md);
        // font-size: 1.5rem;
        padding: 0.2rem;
        width: auto;
        &::after {
          content: "";
          background-color: black;
          width: 0px;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 13px;
          transition: width 0.5s ease-in-out;
        }

        &:hover::after,
        &:focus::after {
          width: 100%;
        }

        @media (min-width: 767px) {
          padding-right: 0.5rem;
        }
      }
      @media (min-width: 767px) {
        flex-direction: row;
        width: fit-content;
      }
    }

    &.close {
      max-height: 0; /* Fecha a navbar */
      opacity: 0; /* Torna a navbar invisível */
    }

    &.open {
      max-height: 500px; /* Defina o valor adequado dependendo da altura do seu conteúdo */
      opacity: 1; /* Torna a navbar visível */
    }
    @media (min-width: 767px) {
      width: fit-content;
      height: 100%;
      opacity: 1;
    }
  }
}
