<header class="header">
  <div
    class="header__container"
    [ngClass]="{ scrolled: isScrolled, open: isMenuOpen }"
  >
    <div class="header__tab">
      <!-- Logo -->
      <img
        class="header__logo"
        src="../../../assets/images/imgLogo.png"
        alt="Logo do site"
      />
      <!-- Ícone de Menu (Hambúrguer) -->
      <svg
        (click)="toggleTab()"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        role="button"
        aria-label="Abrir menu"
        tabindex="0"
      >
        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
      </svg>
    </div>

    <!-- Barra de navegação -->
    <nav
      class="navBar"
      [ngClass]="{ open: isMenuOpen, close: !isMenuOpen }"
      aria-label="Navegação principal"
    >
      <!-- Links de navegação -->
      <ul class="navBar__links">
        <li>
          <a href="#home" aria-label="Ir para home">Home</a>
        </li>
        <li>
          <a href="#about" aria-label="Ir para sobre">Sobre</a>
        </li>
        <li>
          <a href="#projects" aria-label="Ir para Projetos">Projetos</a>
        </li>
        <li>
          <a href="#contact" aria-label="Ir para Contato">Contato</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
