.notFound {
  margin: 0 auto;
  margin-top: 240px;
  margin-bottom: 103px;
  text-align: center;

  @media (min-width: 1024px) {
    height: 25dvh;
  }

  button {
    font-size: var(--font-xs);
    width: fit-content;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    margin-top: 0.5rem;
  }
}
