:host{
  height: fit-content;
  .projects{
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1{
      font-size: 3rem;
      font-weight: 400;
      font-family: "Bebas Neue", sans-serif;
    }
  }
}
