<section class="about">
  <div class="about__wrapper container">
    <div class="about__grid">
      <div class="about__main">
        <header
          class="about__header"
          #aboutElement
          [class.revealUp]="isVisible"
        >
          <h1 class="about__title">sobre mim</h1>
          <p class="about__text">
            Sou um desenvolvedor com
            <strong>2 anos de experiência</strong> que acredita que a tecnologia
            deve ser tão funcional quanto bem estruturada. Atualmente cursando
            <strong>Engenharia de Software na FIAP</strong>, venho consolidando
            minha base técnica, com foco na criação de soluções que resolvem
            <strong>problemas reais</strong> de forma
            <strong>escalável</strong> e de <strong>fácil manutenção</strong>.
          </p>

          <p class="about__text" id="experiences">
            Busco ambientes desafiadores e colaborativos onde eu possa aplicar
            meu compromisso com a <strong>performance e a organização</strong>,
            garantindo que cada linha de código contribua para a construção de
            <strong>sistemas robustos</strong>.
          </p>
        </header>

        <app-experiences></app-experiences>
      </div>

      <app-tools></app-tools>
    </div>
  </div>
</section>
