<!-- <div class="forms">
    <form [formGroup]="forms" (ngSubmit)="sendMessage()">
        <div>
            <label for="name">Nome</label>
            <input type="text" formControlName="nome" name="name" placeholder="Digite seu nome">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" formControlName="email" placeholder="Digite seu email">
        </div>
        <div>
            <label for="mensagem">Mensagem</label>
            <textarea name="message" formControlName="mensagem" placeholder="Digite sua mensagem" id=""></textarea>
        </div>
        <button [disabled]="forms.invalid">Enviar</button>
    </form>
</div> -->
