<section class="hero container revealUp" id="intro">
  <div class="hero__wrapper">
    <div class="hero__content">
      <!-- <span class="badge" tabindex="0">
        <i class="icon-chip"></i> Disponível para trabalho
      </span> -->

      <h3 class="hero__greeting" tabindex="0">Olá, sou</h3>
      <h1 class="hero__name" tabindex="0" [attr.aria-label]="'Nome de ' + name">
        {{ name }}
      </h1>

      <div class="role-container">
        <h2
          class="hero__role"
          tabindex="0"
          [attr.aria-label]="'Papel como ' + role"
        >
          {{ role }}
        </h2>
        <span class="border-gradient"></span>
      </div>

      <p class="hero__description">
        Construindo soluções <strong>Full Stack</strong> modernas com foco em
        <strong>código limpo</strong> e <strong>arquitetura escalável</strong>.
        Dedicado a traduzir problemas complexos em sistemas robustos,
        priorizando performance e estabilidade.
      </p>

      <!-- <div class="stats-grid">
        <div class="stat-item">
          <small>STACK ATUAL</small>
          <p class="stat-value text-blue">Java & Angular</p>
        </div>
        <div class="stat-item">
          <small>EXPERIÊNCIA</small>
          <p class="stat-value text-green">2 anos</p>
        </div>
      </div> -->

      <div class="hero__actions">
        <a href="/#projects" class="btn btn-primary">Ver Projetos</a>
        <a routerLink="/contact" class="btn btn-contact">Entrar em contato</a>
      </div>
    </div>

    <div class="hero__image-container">
      <div class="image-wrapper">
        <img
          src="../../../../../assets/images/Imagem_portfolio_2026.webp"
          [alt]="name"
          loading="lazy"
          class="profile-img"
        />

        <div class="floating-card">
          <div class="card-info">
            <small>FOCO ATUAL</small>
            <h3>Spring Boot</h3>
          </div>
          <div class="card-icon">
            <svg width="24" height="24" viewBox="0 0 24 24"></svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__skills">
    <h3 class="skills-title">STACK ATUAL</h3>
    <div class="skills-wrapper">
      <app-skill *ngFor="let skills of skillsArray" [info]="skills">
      </app-skill>
    </div>
  </div>

  <a class="intro__chevron" href="/#about" aria-label="Rolar para baixo">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
    >
      <path
        d="M16.939 7.939 12 12.879l-4.939-4.94-2.122 2.122L12 17.121l7.061-7.06z"
      ></path>
    </svg>
  </a>
</section>
