/* You can add global styles to this file, and also import other style files */
// Fontes
@font-face {
  font-family: "lato";
  src: url(./fonts/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(./fonts/BebasNeue-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-sm: 0.875em; /* Fonte pequena */
  --font-md: 1.124em; /* Fonte média */
  --font-x-md: 1.667em; /* Fonte extra média */
  --font-x-lg: 3.075em; /* Fonte extra grande */
}

/* Estilos para telas maiores que 787px */
@media (min-width: 787px) {
  :root {
    --font-sm: 0.875em;
    --font-md: 1.124em;
    --font-x-md: 1.667em;
    --font-x-lg: 3.075em;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
label,
button {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

a,
button {
  cursor: pointer;
}

input {
  width: 100%;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding: 2.5rem;
}

html,
body {
  height: fit-content;
  width: 100vw;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: var(--font-md);
  overflow-x: hidden;
  line-height: 1.4;
}

.container {
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;

  @media (min-width: 576px) {
    & {
      padding-left: 1rem;
      padding-right: 1rem;
      // max-width: 540px;
    }
  }

  @media (min-width: 767px) {
    & {
      padding-left: 2rem;
      padding-right: 2rem;
      // max-width: 720px;
    }
  }

  @media (min-width: 1024px) {
    & {
      padding-left: 3rem;
      padding-right: 3rem;
      // max-width: 960px;
    }
  }

  @media (min-width: 1200px) {
    // padding: 0;
  }
}

/* Estilos para telas menores que 787px */
@media (max-width: 787px) {
  :root {
    --font-sm: 0.813em; /* Fonte pequena ajustada */
    --font-md: 1.011em; /* Fonte média ajustada */
    --font-x-md: 1.517em; /* Fonte extra média ajustada */
    --font-x-lg: 2.775em; /* Fonte extra grande ajustada */
  }
}

.revealUp {
  opacity: 0;
  transform: translateY(100px);
  animation: revealItemUp 1s ease-out forwards;
}

/* Animação de subir e opacidade */
@keyframes revealItemUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.revealDown {
  opacity: 0;
  transform: translateY(-100px);
  animation: revealItemDown 1s ease-out forwards;
}

/* Animação de subir e opacidade */
@keyframes revealItemDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
